
@media (max-width: 991px){
    .sidebar::before, .off-canvas-sidebar nav .navbar-collapse::before{
        background-color: white !important;
    }
}
.content{
    margin-top: 25px !important;
}

.navbar .notification{
    border : 1px solid #7BBB5E;
}
.modal-header{
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
    /* background-color: #7BBB5E !important;
    border-color: #7BBB5E !important; */
    color: #7BBB5E;
}
.close{
    color: red !important;
}
.toast {
    opacity: 1 !important;
  }

  #toast-container > div {
    opacity: 1 !important;
  }

.select2{
    width: 100%;
}
/* thead
{
  font-size: 12px !important;
  font-weight:bold !important;
  background-color:#0497b5 !important;
  color : white;
} */
input
{
    border: 1.5px solid #7BBB5E;
}
table.dataTable.no-footer{
    border-bottom: 1px solid #ddd;
}
table.dataTable thead th, table.dataTable thead td
{
    border-bottom: 1px solid #ddd;
}
.no-border{
    border: none;
    background-color: transparent;
}
.t-res{
    color: white;
}
.navbar-toggler-icon{
    color: white;
    background-color: white;
}
.icon-bar{
    color: white;
    background-color: white;
}
table.dataTable thead th, table.dataTable tfoot th
{
    font-weight: unset;
}
/* .btn{
    padding: 10px 10px;
} */
.sidebar[data-color="purple"] li.active>a
{
    background-color: #00acc1;
    /* color: #f33155; */
    font-weight: bold;
}


html {
    height: 100%;
    min-height:800px;
  }
  body {
    background: url('');
    background-size:cover;
    background-repeat:no-repeat;
    text-align: center;
   font-family: 'Noto Sans', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  table{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.12); */
    text-align: center;
  }

  h1{
    font-weight:400;
    padding-top:0;
    margin-top:0;
    font-family: 'Roboto Slab', serif;
  }

  #svg_form_time {
    height: 15px;
    max-width: 80%;
    margin: 40px auto 20px;
    display: block;
  }

  #svg_form_time circle,
  #svg_form_time rect {
    fill: white;
  }

  .button {
    background: rgb(237, 40, 70);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow:0px 2px 5px rgb(0,0,0,0.5);
  }

  .disabled {
    display:none;
  }

  section {
    padding: 50px ;
    max-width: 800px !important;
    margin: 30px auto;
    background:white;
    background:rgba(255,255,255,0.9);
    backdrop-filter:blur(10px);
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:5px;
    transition:transform 0.2s ease-in-out;
  }


  input {
    width: 100%;
    margin: 7px 0px;
    display: inline-block;
    padding: 12px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1em;
    font-family:inherit;
    background:white;
  }

  p{
    text-align:justify;
  margin-top:0;
  }

  .labeltext{
    color:black;
    font-size:16px;
    font-weight:18px;
  }

