/*===============================================
		preloader css style
=================================================*/

.preloader {
	background: white;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
    z-index: 99999;
    opacity: 1;
}

.status-mes {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
	font-size: 10px;
	text-indent: -12345px;
	border-top: 4px solid #222;
	border-right: 4px solid #222;
	border-bottom: 4px solid #222;
	/* border-left: 4px solid #9c27b0; */
	border-left: 4px solid #0064E1;
	border-radius: 50%;
	-webkit-animation: spinner 1000ms infinite linear;
	animation: spinner 1000ms infinite linear;
	z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
    }
    100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
    }
    100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
    }
}

.header-text .home-arrow-down {
	text-align: center;
	position: absolute;
	bottom: -210px;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.header-text .home-arrow-down .btn {
	font-size: 60px;
}

.header-text .home-arrow-down .fa {
	color: #1ca488;
	display: inline-block;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation-name: home-arrow-down;
	animation-name: home-arrow-down;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes home-arrow-down {
    from {
		-webkit-transform: translate3d( 0, 0px, 0);
		transform: translate3d( 0, 0px, 0);
		filter: alpha(opacity=0);
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
		-webkit-transform: translate3d( 0, 5px, 0);
		transform: translate3d( 0, 5px, 0);
		filter: alpha(opacity=100);
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
		-webkit-transform: translate3d( 0, 30px, 0);
		transform: translate3d( 0, 30px, 0);
		filter: alpha(opacity=0);
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes home-arrow-down {
    from {
		-webkit-transform: translate3d( 0, 0px, 0);
		transform: translate3d( 0, 0px, 0);
		filter: alpha(opacity=0);
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
		-webkit-transform: translate3d( 0, 5px, 0);
		transform: translate3d( 0, 5px, 0);
		filter: alpha(opacity=100);
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
		-webkit-transform: translate3d( 0, 30px, 0);
		transform: translate3d( 0, 30px, 0);
		filter: alpha(opacity=0);
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
